<h1>All tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed == true %>
        <input type="checkbox" name="completed" checked>
      <% else %>
        <input type="checkbox" name="completed">
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new task", new_path %>
